<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poursuite d'Études - BUT 2 Informatique</title>
    <link rel="stylesheet" href="../css/cssbut2-3.css">
</head>

<body>
    <header>
        <img class="logo" src="../data/Logo-INFO-Quadri.png" alt="Logo INFO">
        <img class="logo" src="../data/logo-univ-orléans_3.png" alt="Logo Université d'Orléans">
        <nav>
            <ul class="nav-list">
                <li><a href="../templates/Index.html">Accueil</a></li>
                <li><a href="../templates/htmlbut2-3.html">Bac +2/+3</a></li>
                <li><a href="../templates/html_bac+5.html">Bac +5</a></li>
                <li><a href="../templates/html_doctorat.html">Bac +7</a></li>
            </ul>
        </nav>
        <img class="happy-students" src="../data/joyful-image.jpg" alt="Étudiants joyeux" style="max-width: 100px;">
    </header>

    <h1>Poursuite d'Études - BUT 2 Informatique</h1>
    <section class="premiere">
        <section>
            <h2>Parcours Spécialisés en 2ème Année :</h2>
            <ol>
                <li>
                    <h3>Parcours A - Réalisation d'applications - Conception, Développement, Validation:</h3>
                    <p><strong>Objectif :</strong> Former des informaticiens cadres intermédiaires spécialisés dans la conception, le développement, et la validation d'applications.</p>
                </li>
                <li>
                    <h3>Parcours B - Déploiement d'applications communicantes et sécurisées:</h3>
                    <p><strong>Objectif :</strong> Acquérir des compétences avancées dans le déploiement d'applications tout en assurant leur communication et leur sécurité.</p>
                </li>
                <li>
                    <h3>Parcours C - Administration, Gestion et Exploitation des Données:</h3>
                    <p><strong>Objectif :</strong> Se spécialiser dans l'administration des bases de données, la gestion efficace des données, et l'exploitation des systèmes associés.</p>
                </li>
                <li>
                    <h3>Parcours D - Intégration d'Applications et Management du Système d'Information:</h3>
                    <p><strong>Objectif :</strong> Former des experts capables d'intégrer des applications et de gérer efficacement le système d'information au sein des entreprises.</p>
                </li>
            </ol>
        </section>
        <section>
            <h2>Particularités du BUT2</h2>
            <p>La particularité de cette deuxième année est qu'elle peut se réaliser en alternance, offrant ainsi aux étudiants une immersion concrète dans le monde professionnel tout en poursuivant leurs études, mélangeant la théorie et la pratique.</p>
            
            <ul>
                <li> Découverte du monde du travail</li>
                <li> Mélange entre théorie et pratique</li>
                <li> Possibilité de diversification dans son domaine</li>
                <li> Permet de recevoir un salaire pour ses études</li>
                <li> Acquisition de compétences clés en entreprise</li>
            </ul>
        </section>
    </section>
    <section class="deuxieme">
        <section>
        <h2> Possibilité de partir avec un DUT</h2>
        <p>L'autre particularité de cette deuxième année est que vous pouvez la réaliser en 2 ans et obtenir un DUT au lieu d'un BUT.</p>
        <p>L'avantage de partir avec un DUT est que vous pouvez rejoindre une licence professionnelle spécialisée en informatique, facilitant ainsi votre insertion en master.
            Mais vous pouvez egalement partir en ecole de commerce ou ecole d'Ingénieurs (<a href="https://www.concours-ambitions.com/blog/orientation/que-faire-apres-dut-informatique/"> Pour plus d'info</a>)
        </p>
        </section>

        <section>
            <h2> Poursuite d'études en BUT 3 </h2>
            <p> En 3ème année de BUT vous avez l'opportunité, tout comme en deuxième année, de la réaliser en alternance ou en présentiel.</p>
        </section>
    </section>

    <footer>
        <h5>Sources</h5>
        <div class="colonnes">
            <div class="colonne">
                <p>Relations clients</p>
                <p>Relations Investisseurs</p>
                <p>Modes de lecture</p>
                <p>Mentions légales</p>
            </div>
            <div class="colonne">
                <p>Centre Université</p>
                <p>Les meilleurs graphistes</p>
                <p>Entreprise mondiale</p>
                <p>Chiffre d'affaires</p>
                <p>Les meilleurs peintres</p>
            </div>
            <div class="colonne">
                <p>FAQ</p>
                <p>Recrutement</p>
                <p>Conditions d'utilisation</p>
                <p>Nous contacter</p>
            </div>
            <div class="colonne">
                <p>Compte</p>
                <p>S'enregistrer</p>
                <p>Se connecter</p>
                <p>Nous contacter</p>
            </div>
        </div>
        <p>Université Orléans</p>
    </footer>
</body>

</html>
