<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/css_bac+5.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img class="logo" src="../data/Logo-INFO-Quadri.png" alt="Logo INFO">
        <img class="logo" src="../data/logo-univ-orléans_3.png" alt="Logo Université d'Orléans">
        <nav>
            <ul class="nav-list">
                <li><a href="../templates/Index.html">Accueil</a></li>
                <li><a href="../templates/htmlbut2-3.html">Bac +2/+3</a></li>
                <li><a href="../templates/html_bac+5.html">Bac +5</a></li>
                <li><a href="../templates/html_doctorat.html">Bac +7</a></li>
            </ul>
        </nav>
        <img class="happy-students" src="../data/joyful-image.jpg" alt="Étudiants joyeux" style="max-width: 100px;">
    </header>
    <main>
        <h1>Formation Bac +5 </h1>
        <h3>
            Après les 3 ans de BUT informatique vous pouvez poursuivre vos études, même si le principe du BUT est la préparation à l'insertion professionnelle, vous aurez donc plusieurs choix les plus communs qui sont :
        </h3>
        <section>
            <h2>Le master </h2>
            <p>
                Le master est un cursus de 2 ans après généralement une licence et éventuellement avant un doctorat. Le BUT informatique permet après les 3 ans d’accéder à un master comme ceux ci-dessous :
            </p>
            <ul>
                <li>robotique</li>
                <li>informatique</li>
                <li>cybersécurité</li>
                <li>MIAGE</li>
                <li><a href="https://www.monmaster.gouv.fr/recherche?referenceadvised=Informatique">...</a></li>
            </ul>
        </section>
        <section>
            <h2>Les écoles d'Ingénieurs</h2>
            <p>
                Les écoles d’ingénieurs sontune formation de 3 ans qui se fait généralement à la suite d’une classe préparatoire mais il est possible d’en rejoindre une dans le domaine de l’informatique après les 3 ou 2 ans de BUT. Voici quelques une possibles de rejoindre :
            </p>
            <ul>
                <li>INSA</li>
                <li>ENSEEIHT</li>
                <li>Polytech Montpelier</li>
                <li><a href="">...</a></li>
            </ul>
        </section>
    </main>
    <footer>
        <h5>Sources</h5>
        <div class="colonnes">
          <div class="colonne">
            <p>Relations clients</p>
            <p>Relations Investisseurs</p>
            <p>Modes de lecture</p>
            <p>Mentions légales</p>
          </div>
          <div class="colonne">
            <p>Centre Université</p>
            <p>Les meilleurs graphistes</p>
            <p>Entreprise mondiale</p>
            <p>Chiffre d'affaire</p>
            <p>Les meilleurs peintres</p>
          </div>
          <div class="colonne">
            <p>FAQ</p>
            <p>Recrutement</p>
            <p>Conditions d'utilisation</p>
            <p>Nous contacter</p>
          </div>
          <div class="colonne">
            <p>Compte</p>
            <p>S'enregistrer</p>
            <p>Se connecter</p>
            <p>Nous contacter</p>
          </div>
        </div>
        <p>Université Orléans</p>
      </footer>
</body>
</html>