<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Explorer le Doctorat en Informatique</title>
    <link rel="stylesheet" href="../css/index_et_doctorat.css">

</head>
<body>
    <header>
        <img src="../data/Logo-INFO-Quadri.png" alt="Logo INFO">
        <img src="../data/logo-univ-orléans_3.png" alt="Logo Université d'Orléans">
        <nav>
            <ul>
                <li><a href="../templates/Index.html">Accueil</a></li>
                <li><a href="../templates/htmlbut2-3.html">Bac +2/+3</a></li>
                <li><a href="../templates/html_bac+5.html">Bac +5</a></li>
                <li><a href="../templates/html_doctorat.html">Bac +7</a></li>
            </ul>
        </nav>
        <img src="../data/joyful-image.jpg" alt="Étudiants joyeux" style="max-width: 100px;">
    </header>
    <main>
        <h1>Découvrez le Doctorat en Informatique</h1>
        <div>
            <section>
                
                <h2>Le But au doctorat</h2>
                <p>En tant qu'étudiant, vous vous demandez : que faire après un but ? Où mes études vont-elles me mener ? Mais que faire !</p>
                <p>Avez-vous pensé à faire un doctorat ?</p>
                <p>Si vous avez toujours été passionné par l'innovation, que vous aimez coder, et que vous aspirez à ouvrir de nouvelles perspectives dans le domaine de l’informatique, à mener des recherches scientifiques et à devenir reconnu dans ce monde, alors le doctorat est fait pour vous !</p>
                <h3>L'objectif d'un doctorat</h3>
                <p>L’objectif d’un doctorat est de réaliser et de coopérer à l’élaboration de nouvelles théories, techniques et principes dans le domaine du doctorat choisi de manière fondamentale de manière scientifique, permettant le développement de nouvelles technologies et de la civilisation. Cette formation requiert d’accomplir des tâches de haut niveau en conception et en gestion de systèmes informatiques, vous permettant ainsi de devenir chercheur ou chercheuse de renom dans le domaine informatique.</p>
            </section>
            <section>
                <h3>Les prérequis</h3>
                <p>Le doctorat, d'une durée de trois ans après l'obtention du diplôme national de master ou sur la base de la reconnaissance d'un niveau équivalent, offre la possibilité d'obtenir, après soutenance d'une thèse, le prestigieux grade de docteur. Il représente le plus haut diplôme de l'enseignement supérieur.</p>
                <p>La direction de recherche doit être confirmée avant l'admission :</p>
                <p>Avant votre admission au programme, vous devez trouver un professeur qui acceptera de superviser vos travaux de recherche. Cette étape est cruciale et obligatoire pour l'admission.</p>
                <h3>Direction de recherche à confirmer avant l'admission :</h3>
                <p>Vous devez trouver avant votre admission au programme un professeur qui acceptera de superviser vos travaux de recherche. Cette étape est obligatoire pour l'admission.</p>
            </section>
            <section>
                <h2>Les liens du BUT en informatique et les doctorats</h2>
                
                    <p>Pendant un but informatique, vous avez diverses possibilités pour poursuivre vos études, que ce soit en Licence, en école d’Ingénieur, ou même en Master. (<a href="#">Voir page bac+5</a>)</p>
                    <img src="../data/mr-bochelly-IBKyH0V3rew-unsplash.jpg" alt="Master" style="max-width: 25rem;"> 
                    <img src="../data/priscilla-du-preez-XkKCui44iM0-unsplash.jpg" alt="Licence" style="max-width: 25rem;">
                
                    <p>Après avoir réussi votre master ou terminé le cursus d’une école d’ingénieur, vous avez la possibilité de poursuivre un doctorat.</p>
                    <p>En tant qu'étudiant du but informatique, vous avez deux axes possibles. C'est génial, n'est-ce pas !</p>
                    <img src="../data/parcours BUT-Doctorat.jpg" alt="Deux axes possibles master BUT" style="max-width: 62em;">   
                 
            </section>
            <section>
                <h3>Les Domaines d'Expertises</h3>
                <p>En master,nous proposons différentes spécialisations, mais pour celui en informatique, voici quelques domaines :</p>
                <ul>    
                    <li>Intelligence artificielle </li>
                    <li>Optimisation </li>
                    <li>Interface personne-machine </li>
                    <li>Robotique intelligente </li>
                    <li>Bio-informatique </li>
                    <li>Systèmes intelligents </li>
                    <li>Traitement du langage </li>
                    <li>Perception intelligente </li>
                    <li>Apprentissage machine </li>
                    <li>Forage de données </li>
                    <li>Sécurité informatique </li>
                    <li>Traitement de données massives </li>
                    <li>Compression de données </li>
                    <li>Réseaux mobiles</li>
                </ul>
            </section>
        
            <section>
                <h3>Comment s'inscrire en doctorat</h3>
                <p>L'inscription en première année de doctorat est prononcée par le chef d'établissement sur proposition du directeur de l'école doctorale, après avis du directeur de thèse et du directeur de l'unité ou de l'équipe de recherche sur la qualité du projet et les conditions de sa réalisation.</p>
                <p>Pour être inscrit en doctorat, le candidat doit être titulaire d'un diplôme conférant le grade de master. Si cette condition de diplôme n'est pas remplie, le chef d'établissement peut, par dérogation et sur proposition du conseil de l'école doctorale, inscrire en doctorat des personnes ayant effectué des études d'un niveau équivalent ou bénéficiant de la validation des acquis de l'expérience prévue à l'article L. 613-5 du code de l'éducation.</p>
                <p>La politique d'admission de chaque école doctorale est disponible sur les pages Internet de l'école.</p>
                <p>Consultez <a href="https://appliweb.dgri.education.fr/annuaire/">l’annuaire des écoles doctorales</a> pour avoir une vision complète des champs disciplinaires vers lesquels sont tournées les écoles doctorales.</p>
            </section>
        </div>
    </main>
    <footer>
        <h5>Sources</h5>
        <div class="colonnes">
          <div class="colonne">
            <p>Relations clients</p>
            <p>Relations Investisseurs</p>
            <p>Modes de lecture</p>
            <p>Mentions légales</p>
          </div>
          <div class="colonne">
            <p>Centre Université</p>
            <p>Les meilleurs graphistes</p>
            <p>Entreprise mondiale</p>
            <p>Chiffre d'affaire</p>
            <p>Les meilleurs peintres</p>
          </div>
          <div class="colonne">
            <p>FAQ</p>
            <p>Recrutement</p>
            <p>Conditions d'utilisation</p>
            <p>Nous contacter</p>
          </div>
          <div class="colonne">
            <p>Compte</p>
            <p>S'enregistrer</p>
            <p>Se connecter</p>
            <p>Nous contacter</p>
          </div>
        </div>
        <p>Université Orléans</p>
      </footer>
</body>
</html>
