<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index_et_doctorat.css">
    <title>Document</title>
</head>
<body>
    <header>
        <img class="logo" src="../data/Logo-INFO-Quadri.png" alt="Logo INFO">
        <img class="logo" src="../data/logo-univ-orléans_3.png" alt="Logo Université d'Orléans">
        <nav>
            <ul class="nav-list">
                <li><a href="../templates/Index.html">Accueil</a></li>
                <li><a href="../templates/htmlbut2-3.html">Bac +2/+3</a></li>
                <li><a href="../templates/html_bac+5.html">Bac +5</a></li>
                <li><a href="../templates/html_doctorat.html">Bac +7</a></li>
            </ul>
        </nav>
        <img class="happy-students" src="../data/joyful-image.jpg" alt="Étudiants joyeux" style="max-width: 100px;">
    </header>
    <main>
        <h1>bienvenue</h1>
        <h3>
            Envie de savoir que faire apres ou pendant le but informatique !
        </h3>
        <h4>
          Choisissez !
      </h4>
          <section  class="separation3" >
              <h2><a href="htmlbut2-3.html">le BUT qu'elle posibiliter ?</a></h2>
              <p>Il reprend les Poursuites d'études en BUT 3, les Possibilités de partir avec un DUT et les Particularités du BUT2.</p>
              <a href="htmlbut2-3.html"><img class="image3" src="../data/unseen-studio-s9CC2SKySJM-unsplash.jpg" alt="image d'etudes"></a>
          </section>
          <section class="separation3" >
              <h2><a href="html_bac+5.html">Les etudes apres un BUT un écoles d'Ingénieurs, un Master ?</a></h2>
              <p>Cette partie vous montrera les possibles masters et les écoles d'ingénierie pour poursuivre vos études.</p>
              <a href="html_bac+5.html"><img class="image3" src="../data/computer-screen-technology-web-internet-line-670366-pxhere.com.jpg" alt="code informatique"> </a>
          </section>

          <section class="separation3" >
              <h2> <a href="html_doctorat.html">Le Doctorat le grand plus !</a></h2>
              <p>Le doctorat, vous connaissez ? Cette partie vous expliquera comment aller au doctorat en informatique après un but en informatique.</p>
              <a href="html_doctorat.html"><img class="image3" src="../data/samantha-borges-q3zZHY5GHu0-unsplash.jpg" alt="image pour le doctorat"></a>
          </section>
        



    </main>
    <footer>
        <h5>Sources</h5>
        <div class="colonnes">
          <div class="colonne">
            <p>Relations clients</p>
            <p>Relations Investisseurs</p>
            <p>Modes de lecture</p>
            <p>Mentions légales</p>
          </div>
          <div class="colonne">
            <p>Centre Université</p>
            <p>Les meilleurs graphistes</p>
            <p>Entreprise mondiale</p>
            <p>Chiffre d'affaire</p>
            <p>Les meilleurs peintres</p>
          </div>
          <div class="colonne">
            <p>FAQ</p>
            <p>Recrutement</p>
            <p>Conditions d'utilisation</p>
            <p>Nous contacter</p>
          </div>
          <div class="colonne">
            <p>Compte</p>
            <p>S'enregistrer</p>
            <p>Se connecter</p>
            <p>Nous contacter</p>
          </div>
        </div>
        <p>Université Orléans</p>
      </footer>
</body>
</html>