
header {
    text-align: center;
    padding: 20px;
    background-color: #4285f4;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}



.nav-list a {
    color: #2b08f4;
    text-decoration: none;
}



main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.image3{width: 400px;
    height: 267px;
    
}

section {
    flex: 1;
    margin: 20px;
    padding: 20px;
    flex-grow: 1;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h1 , main>h3,main>h4{flex-basis: 100%;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    color: #4285f4;
}

section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

section ul li {
    margin-bottom: 10px;
}

section a {
    color: #2b08f4;
    text-decoration: none;
}

section a:hover {
    text-decoration: underline;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    flex-basis: 100%;
}

footer .colonnes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .colonne {
    flex: 1; 
    margin-right: 20px; 
}


main > div{background-color:#4285f4; }

nav li {
    /*! margin-bottom: 10px; */
    background-color: #fcfcfc; 
    padding: 8px 12px; 
    border-radius: 5px; 
    display: inline-block; 
    /*! margin-right: 5px; */ /* Espacement entre les liens */
}

nav li {
    margin: 0 15px;
}